engine-strict=true
audit=false
fund=false
progress=false
prefer-offline=true
fetch-timeout=300000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retry-factor=10
fetch-retries=5
maxsockets=1 